{%load static%}
<!DOCTYPE html>
<html lang="en-US"><!--<![endif]--><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
                <!-- META TAGS -->
                
                <meta name="viewport" content="width=device-width, initial-scale=1.0">

                <title>Knowledge Base</title>


                <!-- Google Web Fonts-->
                <link href="{% static 'Code/css'%}" rel="stylesheet" type="text/css">
                <link href="{% static 'Code/css(1)'%}" rel="stylesheet" type="text/css">
                <link href="{% static 'Code/css(2)'%}" rel="stylesheet" type="text/css">

                <!-- Style Sheet-->
                <link rel="stylesheet" href="{% static 'Code/style.css'%}">
                <link rel="stylesheet" id="bootstrap-css-css" href="{% static 'Code/bootstrap.css'%}" type="text/css" media="all">
                <link rel="stylesheet" id="responsive-css-css" href="{% static 'Code/responsive.css'%}" type="text/css" media="all">
                <link rel="stylesheet" id="main-css-css" href="{% static 'Code/main.css'%}" type="text/css" media="all">
                <link rel="stylesheet" id="blue-skin-css" href="{% static 'Code/blue-skin.css'%}" type="text/css" media="all">
                <link rel="stylesheet" id="custom-css-css" href="{% static 'Code/custom.css'%}" type="text/css" media="all">

        <script type="text/javascript" src="{% static 'Code/353252568291504128'%}"></script></head>

        <body data-gr-c-s-loaded="true">

                <!-- Start of Header -->
                <div class="header-wrapper">
                        <header>
                                <div class="container">


                                        <div class="logo-container">
                                                <a href="/" title="Knowledge Base Theme">
                                                    <img src="{% static 'Code/logo.png'%}" alt="Knowledge Base Theme">
                                                </a>
                                        </div>

                                        <nav class="main-nav">
                                                <div class="menu-top-menu-container">
                                                        <ul id="menu-top-menu" class="clearfix">
                                                            <li><a href="http://html.inspirydemos.com/knowledgebase-html/index.html">Total={{total}}</a></li>
                                                            <li><a href="http://html.inspirydemos.com/knowledgebase-html/index.html">Algoexpert</a></li>
                                                            <li><a href="http://html.inspirydemos.com/knowledgebase-html/index.html">G4G Practice</a></li>
                                                            <li><a href="http://html.inspirydemos.com/knowledgebase-html/index.html">GCS-2</a></li>
                                                            <li><a href="http://html.inspirydemos.com/knowledgebase-html/index.html">Github</a></li>
                                                            <li><a href="http://html.inspirydemos.com/knowledgebase-html/index.html">Reminder<sup> 1</sup></a></li>
                                                            <!-- <li><a href="http://html.inspirydemos.com/knowledgebase-html/home-categories-description.html">Home 2</a></li>
                                                            <li><a href="http://html.inspirydemos.com/knowledgebase-html/home-categories-articles.html">Home 3</a></li>
                                                            <li><a href="http://html.inspirydemos.com/knowledgebase-html/articles-list.html">Articles List</a></li>
                                                            <li><a href="http://html.inspirydemos.com/knowledgebase-html/faq.html">FAQs</a></li>
                                                            <li><a href="http://html.inspirydemos.com/knowledgebase-html/blue-skin.html#">Skins</a>
                                                                    <ul class="sub-menu" style="display: none;">
                                                                            <li class="current-menu-item"><a href="http://html.inspirydemos.com/knowledgebase-html/blue-skin.html">Blue Skin</a></li>
                                                                            <li><a href="http://html.inspirydemos.com/knowledgebase-html/green-skin.html">Green Skin</a></li>
                                                                            <li><a href="http://html.inspirydemos.com/knowledgebase-html/red-skin.html">Red Skin</a></li>
                                                                            <li><a href="http://html.inspirydemos.com/knowledgebase-html/index.html">Default Skin</a></li>
                                                                    </ul>
                                                            </li>
                                                            <li><a href="http://html.inspirydemos.com/knowledgebase-html/blue-skin.html#">More</a>
                                                                    <ul class="sub-menu">
                                                                            <li><a href="http://html.inspirydemos.com/knowledgebase-html/full-width.html">Full Width</a></li>
                                                                            <li><a href="http://html.inspirydemos.com/knowledgebase-html/elements.html">Elements</a></li>
                                                                            <li><a href="http://html.inspirydemos.com/knowledgebase-html/page.html">Sample Page</a></li>
                                                                    </ul>
                                                            </li>
                                                            <li><a href="http://html.inspirydemos.com/knowledgebase-html/contact.html">Contact</a></li> -->
                                                        </ul>
                                                </div><select class="responsive-nav"><option value="" selected="">Go to...</option><option value="index.html"> Home</option><option value="home-categories-description.html"> Home 2</option><option value="home-categories-articles.html"> Home 3</option><option value="articles-list.html"> Articles List</option><option value="faq.html"> FAQs</option><option value="#"> Skins</option><option value="blue-skin.html"> -  Blue Skin</option><option value="green-skin.html"> -  Green Skin</option><option value="red-skin.html"> -  Red Skin</option><option value="index.html"> -  Default Skin</option><option value="#"> More</option><option value="full-width.html"> -  Full Width</option><option value="elements.html"> -  Elements</option><option value="page.html"> -  Sample Page</option><option value="contact.html"> Contact</option></select>
                                        </nav>
                                </div>
                        </header>
                </div>
                <!-- End of Header -->

                <!-- Start of Search Wrapper -->
                <!-- <div class="search-area-wrapper">
                        <div class="search-area container">
                                <h3 class="search-header">Want to refresh some Questions?</h3>
                                <p class="search-tag-line">You can search those questions here, think of those keywords in Question!</p>

                                <form id="search-form" class="search-form clearfix" method="get" action="http://html.inspirydemos.com/knowledgebase-html/blue-skin.html#" autocomplete="off" novalidate="novalidate">
                                        <input class="search-term required" type="text" id="s" name="s" placeholder="Type your search terms here" title="* Please enter a search term!" autocomplete="off">
                                        <input class="search-btn" type="submit" value="Search">
                                        <div id="search-error-container"></div>
                                </form>
                        </div>
                </div> -->
                <!-- End of Search Wrapper -->

                <div class="page-container">
                    <div class="container">
                            <div class="row">

                                    <!-- start of page content -->
                                    <div class="span8 page-content">

                                            <ul class="breadcrumb">
                                                    <li class="active">{{problem.short_note}}</li>
                                            </ul>

                                            <article class=" type-post format-standard hentry clearfix">

                                                    <h1 class="post-title"><a href="http://html.inspirydemos.com/knowledgebase-html/single.html#">{{problem.name}}</a></h1>

                                                    <div class="post-meta clearfix">
                                                            <span class="date">{{problem.date}}</span>
                                                            <span class="category"><a href="/category/{{problem.category.id}}" title="View all posts in Server &amp; Database">{{problem.category}}</a></span>
                                                    </div><!-- end of post meta -->

                                                    <p>Problem Statement: {{problem.problem_statement|linebreaksbr}}</p>
                                                    
                                                    <h3>The Approach</h3>

                                                    <p>{{problem.approach|linebreaksbr}}</p>
                                                    
                                                    <h3>Code</h3>
                                                    <p>Labguage- {{solution.language}}</p>
                                                    <pre><code>{{solution.code|linebreaksbr}}</code></pre>
                                            <section id="comments">

                                                    <h3 id="comments-title">Comments</h3>
                                                    <ol class="commentlist">
                                                            {%for comment in comments%}
                                                            <li class="comment even thread-even depth-1" id="li-comment-2">
                                                                    <article id="comment-2">
                                                                            <div class="comment-meta">
                                                                                    <p class="date">
                                                                                        <time datetime="2013-02-26T13:18:47+00:00">{{comment.date}}</time>
                                                                                    </p>
                                                                            </div>
                                                                            <div class="comment-body">
                                                                                    <p>{{comment.comment}}</p>
                                                                            </div>
                                                                    </article>
                                                            </li>
                                                            {%endfor%}
                                                    </ol>

                                                    <div id="respond">

                                                            <h3>Leave a new trick here</h3>

                                                            <div class="cancel-comment-reply">
                                                                    <a rel="nofollow" id="cancel-comment-reply-link" href="http://html.inspirydemos.com/knowledgebase-html/single.html#" style="display:none;">Click here to cancel reply.</a>
                                                            </div>


                                                            <form method="post" id="commentform">
                                                                {%csrf_token%}
                                                                    <p class="comment-notes">Did you found something that you missed, mention here for future reference.</p>

                                                                    <div>
                                                                            <label for="comment">Comment</label>
                                                                            <textarea class="span8" name="comment" id="comment" cols="58" rows="10" required></textarea>
                                                                    </div>

                                                                    <div>
                                                                            <input class="btn" name="submit" type="submit" id="submit" value="Submit Comment">
                                                                    </div>

                                                            </form>

                                                    </div>

                                            </section><!-- end of comments -->

                                    </div>
                                    <!-- end of page content -->


                                    <!-- start of sidebar -->
                                    <aside class="span4 page-sidebar">

                                            <section class="widget">
                                                    <div class="support-widget">
                                                            <h3 class="title">Tip for this Question</h3>
                                                            <p class="intro">{{problem.tip|linebreaksbr}}</p>
                                                    </div>
                                            </section>
                                            <section class="widget"><h3 class="title">Foreign Resources</h3>
                                                    <ul>
                                                            {%for data in foreign_resource%}
                                                            <li><a href="{{data.link}}" title="" target="_blank">{{data.name}}</a></li>
                                                            {%endfor%}
                                                    </ul>
                                            </section>

                                    </aside>
                                    <!-- end of sidebar -->
                            </div>
                    </div>
            </div>

                <!-- Footer Bottom -->
                <div id="footer-bottom-wrapper">
                        <div id="footer-bottom" class="container">
                                <div class="row">
                                        <div class="span6">
                                                <p class="copyright">
                                                        Copyright © 2020. All Rights Reserved by Roshan Pandey.
                                                </p>
                                        </div>
                                </div>
                        </div>
                </div>
                <!-- End of Footer Bottom -->

                </footer>
                <!-- End of Footer -->

                <!-- script -->
                <script type="text/javascript" src="{% static 'Code/jquery-1.8.3.min.js'%}"></script>
                <script type="text/javascript" src="{% static 'Code/jquery.easing.1.3.js'%}"></script>
                <script type="text/javascript" src="{% static 'Code/jquery.prettyPhoto.js'%}"></script>
                <script type="text/javascript" src="{% static 'Code/jquery.liveSearch.js'%}"></script>
				<script type="text/javascript" src="{% static 'Code/jflickrfeed.js'%}"></script>
                <script type="text/javascript" src="{% static 'Code/jquery.form.js'%}"></script>
                <script type="text/javascript" src="{% static 'Code/jquery.validate.min.js'%}"></script>
                <script type="text/javascript" src="{% static 'Code/jquery-twitterFetcher.js'%}"></script>
                <script type="text/javascript" src="{% static 'Code/custom.js'%}"></script>

        




<div id="jquery-live-search" style="display: none;"></div></body></html>